.Container__movies {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 18rem;    
    border-radius: 5px;  
    row-gap: 1rem;
    overflow-x: auto;
}
.TittleCategory{
    display: flex;
    flex-direction: row;
    
    text-transform: uppercase;
    position: absolute;
    max-width: 100%;
    column-gap: .6em;
    height: 4rem;
    overflow-x: auto;
    margin-top: -1.5rem;
}
.TittleCategory h2{
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: var(--font__small);
    font-weight: var(--font__normal);
    padding-left: 1.5rem;
    min-width: 5rem;
}

.TittleCategory .OptionSearch{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: var(--font__very-small);
    text-transform: lowercase;
    overflow-x: auto;
}
.OptionSearch{
    column-gap: .3em;
}
.OptionSearch li{
    
    padding: .3em .6em;
    border-radius: 25px;
    height: min-content;
}
.listGenre{
    background-color: #4A646F;
}
.linkOption{
    text-decoration: none;
    display: flex;
    padding: .2em .4em;
    align-items: center;
    color: var(--color-white);
    text-align: center;
    font-weight: 500;
}


@keyframes loading-bar-spinner {
    0%   { 
        transform: rotate(0deg);   
        transform: rotate(0deg); 
        border-right-color: var(--color-fourth);
        border-top-color:  var(--color-secondary) ;
    }
    /* 50%  { 
        transform: rotate(180deg); 
        transform: rotate(180deg); 
        border-right-color: var(--color-secondary);
        border-left-color: var(--color-fourth);
    } */
    100% { 
        transform: rotate(360deg); 
        transform: rotate(360deg); 
        border-top-color:  var(--color-secondary) ;
        border-right-color: var(--color-fourth);
    }
  }
@keyframes float--right{
    0%{
        opacity: .3;
    }
    100%{
        opacity: 1;
    }
}

  
.LoadingContainer{
    position: absolute;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    animation: float--right 600ms ease-in;
}
.LoadingSpiner{
    width: 70%;
    height: 70%;
    border:  solid 5px transparent;    
    border-radius: 50%;
    animation: loading-bar-spinner 600ms ease-in-out infinite;
   
}
.Listactive{
    background-color: var(--color-white);
}
.Listactive .linkOption{
    color: var(--color-primary);
    
}