
.navigation__list{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 220%;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-primary);
}
.navigation__item{
    height: 10%;
}
.navigation__link{
    width: 100%;
    height: 100%;
    font-family: var(--font-secondary);
    color:var(--color-white-dark);
}


@media (min-width: 768px) {  /* 768px */
    .navigation__list{
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 4rem;
        padding-right: 7%;
    }
}