.All{
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
}
.App {
  text-align: center;
}
.Container{
  padding-top: 7rem;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;

}
.Full{
  width: 100%;
  padding-top: 0;
  align-items: center;
  justify-content: end;
  height: 100%;
  row-gap: 1rem;
  /* background-image: url("https://image.tmdb.org/t/p/w500/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg");
  background-size: cover;
  background-position: center; */

}
.Full::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .Container__grid__actor .Grid .GridContent .GridItem::hover{
  min-height: 50%;
 
  box-shadow: 0px 10px 20px 1px rgb(255 255 255 / 70%);
  transform: scale(1.1);
  transition: all 350ms ease-in;
} */
.Container__grid__actor{
  display: none;
}
@media (min-width: 768px) { 
  .Container{
    width: 85%;
  }
  .Full{
    padding-top: 0;
    width: 100%;
    justify-content: center;
  }
  .Container__grid__actor{
    display: flex;
    height: 15rem;
    max-width: 90% !important;
  }
  .Container__grid__actor .Grid {
    column-gap: .8rem;
    height: 70% !important;
  }
}
@media (min-width: 1024px) { 

    .Full{
      flex-direction: row;
      height: 90%;
     
    }
    .Container__grid__actor{
      display: flex;
      position: relative;
      justify-content: end;
      max-width:30% !important;
      min-height: 4rem;
      padding: 0;
      align-self: flex-end;
      margin-bottom: 10%;
      margin-right: 3%;
      z-index: 40;
    }
    .Container__grid__actor div {
   
    }
    .Container__grid__actor div div div::before {
      left  : .2em;
      font-size: .7em;
      font-weight: 600;
      padding: .2em .4em;
    }
 /*    .Container__grid__actor{
      max-width: 15% !important;
      min-height: 30rem;
      padding: 0;
    }
    .Container__grid__actor .Grid {
      column-gap: 1rem;
      height: 100% !important;
      flex-direction: column;
      padding: 0;
    }
    .Container__grid__actor  div{
      min-height: auto;
      width: 7rem;
    }

    .Container__grid__actor  div:hover{
      width: 7rem;
      transform: initial;
      min-height: 10rem;
      box-shadow: none;
      transition: none;
    }
    .Container__grid__actor:hover  div:not(:hover){
     
      min-height: 6rem; 
      transform: scale(1);
      transition: none;
  }
    
    .Container__grid__actor div div{
      flex-direction: column;
      align-content: center;
      row-gap: 2rem;
    }
    .Container__grid__actor div{
      padding: 0;
    }
   */
}