.All{
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
}
.App {
  text-align: center;
}
.Container{
  padding-top: 7rem;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;

}
.Full{
  width: 100%;
  padding-top: 0;
  align-items: center;
  justify-content: end;
  height: 100%;
  row-gap: 3rem;
  /* background-image: url("https://image.tmdb.org/t/p/w500/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg");
  background-size: cover;
  background-position: center; */

}
.Full::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) { 
  .Container{
    width: 85%;
  }
  .Full{
    padding-top: 0;
    width: 100%;
  }
}